@model Login.Models.Bearbeiter

@{
    ViewBag.Title = "_RegistrierungBearbeiter";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm("RegisterBearbeiter", "User"))
{
    @Html.ValidationSummary(true)

    <div id="name" class="gruppe">
        <h3>Name</h3>
        <div class="input">
            @Html.LabelFor(model => model.vorname)
            @Html.EditorFor(model => model.vorname)
            @Html.ValidationMessageFor(model => model.vorname)
        </div>

        <div class="input">
            @Html.LabelFor(model => model.nachname)
            @Html.EditorFor(model => model.nachname)
            @Html.ValidationMessageFor(model => model.nachname)
        </div>
    </div>

    <div id="account" class="gruppe">
        <h3>Account</h3>
        <div class="input">
            @Html.LabelFor(model => model.email)
            @Html.EditorFor(model => model.email)
            @Html.ValidationMessageFor(model => model.email)
        </div>

        <br />

        <div class="input">
            @Html.LabelFor(model => model.passwort)
            @Html.PasswordFor(model => model.passwort)
            @Html.ValidationMessageFor(model => model.passwort)
        </div>

        <div class="input">
            @Html.LabelFor(model => model.confirmPasswort)
            @Html.PasswordFor(model => model.confirmPasswort)
            @Html.ValidationMessageFor(model => model.confirmPasswort)
        </div>
    </div>

    <div class="button gruppe">
        <input type="button" id="registerFormularZurueck" value="zur&uuml;ck" />
        <input type="submit" id="registerFormularWeiter" value="registrieren" />
    </div>
}
